[Unit]
Description=SNU Class Checker data update

[Service]
Type=oneshot
WorkingDirectory=%h/project/class-checker
RuntimeDirectory=class-checker
RuntimeDirectoryMode=0700
Environment=TMPDIR=%t/class-checker
ExecStart=%h/project/class-checker/scripts/update.sh
